<form method="get" action="/quizes/">
	Buscar preguntas: <input type="text" name="search" /><br />
	<input type="submit" value="Buscar" />
</form>
<h2>Resultado de la búsqueda:</h2>
<% if(search && search.trim().length > 0) { %>
	<%= search %>
<% } else {%>
	No buscó nada
<% } %>
<table>
	<% var i; for (i = 0; i < quizes.length; i++) { %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>